.main{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    
}
.content {
  display: flex;
  flex: 1;
  gap: 24px;
  padding: 20px;
  width: 100%;
  max-width: 1300px;
  
}
.ProductBlock{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}
.productsGrid{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.minifilter{
    padding: 15px;
    display: flex;
    justify-content: space-between;

}
.many{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: rgb(240, 238, 255);
    font-weight: 600;
    font-size: 14px;
    span{
        color: rgb(107, 104, 144);
    }
}
.Blockfil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.listGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}