.main{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    
}
.content {
  display: flex;
  flex: 1;
  gap: 24px;
  padding: 20px;
  max-width: 1400px;
}
.filterBlock{
    display: flex;
    flex-direction: column;
    width: 230px;
}
.ProductBlock{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.productsGrid{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.minifilter{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.many{
    padding-left: 10px;
    color: rgb(240, 238, 255);
    font-weight: 600;
    font-size: 14px;
    span{
        color: rgb(107, 104, 144);
    }
}
