.imgBlock {
  height: 320px;
  overflow: hidden;
  position: relative;
}
.imgBlock img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: flex;
  border-top-left-radius: 14px;
   border-top-right-radius: 14px;
  transition: transform 0.4s ease;
}
.ProductCard{
    display: flex;
    flex-direction: column;
     width: 100%;
     max-width: 320px;
     height: 478px;
     border-radius: 14px;
     background-color: rgb(18, 18, 30);
     border: 1px solid rgba(168, 85, 247, 0.12);
     transition: 0.2s border ease-in-out;
      overflow: hidden;

     &:hover{
        border: 1px solid rgba(168, 85, 247, 0.4);
        .imgBlock img{
            transform: scale(1.08);
        }
     }
}
.category{
    display: flex;
    padding: 10px;
    gap: 8px;
}
.brand{
    display: flex;
    align-items: center;
    background-color: rgba(168, 85, 247, 0.15);
    border: 1px solid rgba(168, 85, 247, 0.15);
    border-radius: 4px;
    padding: 2px 8px 2px 8px;
    color: rgb(168, 85, 247);
    font-weight: 600;
    font-size: 11px;

}
.categoryName{
    display: flex;
    align-items: center;
    color:  rgb(107, 104, 144);
    font-size: 11px;
}
.ItemName {
  display: block; /* Змінюємо flex на block */
  padding: 0 8px 5px 8px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(240, 238, 255);
  
  /* Твоя магічна комбінація для трьох крапок */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
}
.stars {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #F59E0B;
}

.raitingBlock {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 8px;
  height: 25px;
}

.rating {
  font-size: 10px;
  color: rgb(107, 104, 144);
}
.buyBlock{
    display: flex;
    padding: 8px 8px 15px 8px;
    justify-content: space-between;
}
.priceBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price{
  display: flex;
    color: rgb(240, 238, 255);
    font-size: 15px;
    font-weight: 700;
}
.oldPrice {
  font-size: 12px;
  color: rgb(107, 104, 144);
  text-decoration: line-through;
}

.addBtn {
  display: flex;
  align-items: center;
  height: 28px;
  gap: 6px;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0);
  background-image: linear-gradient(135deg, rgb(168, 85, 247), rgb(99, 102, 241));
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  border: rgba(168, 85, 247, 0.15) solid 1px;
  cursor: pointer;
  box-shadow: rgba(168, 85, 247, 0.35) 0px 0px 12px 0px;
}
.btnBlock{
  display: flex;
  align-items: center;
}