.SortDropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}
.trigger {
  display: flex;
  gap: 8px;
  height: 39px;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 30, 48);
  border: rgba(168, 85, 247, 0.2) 1px solid;
  color: rgb(196, 184, 240);
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: border 0.2s ease;

  &:hover {
    outline: rgba(168, 85, 247, 0.5) 1px solid;
  }
}
.SortValue {
  display: flex;
  width: 140px;
}
.sortlible {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 12;
  background-color: rgb(30, 30, 48);
  border: rgba(168, 85, 247, 0.2) 1px solid;
  color: rgb(196, 184, 240);
  width: 209px;
  border-radius: 0 0 10px 10px;
  border-top: none; // щоб не було подвійного бордера
  top: 38px; // підніми ближче до кнопки
}
.option {
  display: flex;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.15s ease;

  &:hover {
    background-color: rgba(168, 85, 247, 0.1);
    color: rgb(168, 85, 247);
  }

  &:last-child {
    border-bottom: none;
  }
}
.active {
  color: rgb(168, 85, 247);
  background-color: rgba(168, 85, 247, 0.08);
}
.sortlible {
  animation: fadeDown 0.4s ease;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.triggerOpen {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}
@media (max-width: 600px) {
  .SortValue {
    font-size: 10px;
    width: 90px;
  }
  .trigger {
    padding: 4px 6px;
    gap: 3px;
  }
  .sortlible {
    width: 132px;
  }
  .option {
    font-size: 10px;
  }
  .arrowicon {
    width: 11px;
    height: 11px;
  }
  .updown {
    width: 11px;
    height: 11px;
  }
}
