@import 'tailwindcss';
html,
body {
  background-color: #07060b;
  background-image:
    linear-gradient(rgba(168, 85, 247, 0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(168, 85, 247, 0.06) 1px, transparent 1px);
  background-size: 40px 40px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-rajdhani), system-ui, sans-serif; /* було oxanium */
}
* {
  box-sizing: border-box;
  margin: 0;
}
